dj-database-url==0.5.0
Django==2.2.24
django-phonenumber-field==6.3.0
environs==5.2.1
marshmallow==3.17.0
packaging==21.3
phonenumbers==8.12.53
pyparsing==3.0.9
python-dotenv==0.20.0
pytz==2022.1
sqlparse==0.4.2
